.page1 {
  select {
    width: 100%;
    max-width: 667px;
  }

  button {
    background: #ffc334;
    border: none;
    box-shadow: 0 -2px 0 3px #ffb401 inset, 0 5px 5px rgba(103, 73, 0, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    width: 50vmin;
    max-width: 375px;
    margin: 2rem auto;
  }
}
