.visually-hidden {
  display: none;
}

.text-lg {
  font-size: 10vmin;
}

.text-md {
  font-size: 7vmin;
}

.text-xl {
  font-size: 13vmin;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}
